node-red/data/flows.json
[{"id":"bfa4dc54.1fff4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"148352a8.2b667d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d9511b98.bb15b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6c6dfead.8583e","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fe8797cf.df3b68","type":"mqtt-broker","z":"","name":"mosca","broker":"mosca","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23b1529a.b81aee","type":"telegram bot","z":"","botname":"beemos_bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"1000000000"},{"id":"72532686.b68148","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4e96d1f9.9c4bc","type":"ui_group","z":"","name":"Default","tab":"72532686.b68148","disp":true,"width":"12","collapse":true},{"id":"e3fa3454.d7f6f8","type":"ui_tab","z":"","name":"Second","icon":"dashboard"},{"id":"615d5659.913228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a178685.1f9718","type":"ui_group","z":"","name":"A new group","tab":"72532686.b68148","disp":true,"width":"6","collapse":true},{"id":"43f45c0c.1359e4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"data","name":"","usetls":false,"tls":""},{"id":"851838eb.aa0208","type":"mqtt in","z":"bfa4dc54.1fff4","name":"","topic":"abcd/efgh","qos":"2","broker":"fe8797cf.df3b68","x":100,"y":120,"wires":[["db6a1253.35ca6","588ff76a.20a728","f7194b8c.20f6c8"]]},{"id":"db6a1253.35ca6","type":"debug","z":"bfa4dc54.1fff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":80,"wires":[]},{"id":"9434bca0.1cb1f","type":"telegram sender","z":"bfa4dc54.1fff4","name":"","bot":"23b1529a.b81aee","x":520,"y":260,"wires":[[]]},{"id":"588ff76a.20a728","type":"function","z":"bfa4dc54.1fff4","name":"Msg to Telegram","func":"msg.payload={\n    content: msg.payload,\n    type: 'message',\n    chatId: -284201330\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["9434bca0.1cb1f"]]},{"id":"f7194b8c.20f6c8","type":"ui_text","z":"bfa4dc54.1fff4","group":"4e96d1f9.9c4bc","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":320,"wires":[]},{"id":"a2829327.1d238","type":"ui_text_input","z":"148352a8.2b667d","name":"","label":"Text input","group":"6a178685.1f9718","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":100,"y":120,"wires":[["c901f9d7.ee0478","e4a021cb.de7ec"]]},{"id":"cb2ebc02.96d1","type":"ui_text","z":"148352a8.2b667d","group":"6a178685.1f9718","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"c901f9d7.ee0478","type":"debug","z":"148352a8.2b667d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":270,"y":100,"wires":[]},{"id":"e4a021cb.de7ec","type":"function","z":"148352a8.2b667d","name":"","func":"msg.payload=\"-----> \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["cb2ebc02.96d1"]]},{"id":"52f2e5c5.b5c42c","type":"ui_form","z":"148352a8.2b667d","name":"","label":"","group":"4e96d1f9.9c4bc","order":0,"width":0,"height":0,"options":[{"label":"Domain","value":"domain","type":"password","required":true}],"formValue":{"domain":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":260,"wires":[["f8225dd5.56659"]]},{"id":"f8225dd5.56659","type":"debug","z":"148352a8.2b667d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":280,"y":280,"wires":[]},{"id":"ea3f67f6.997828","type":"mqtt in","z":"d9511b98.bb15b8","name":"","topic":"random","qos":"2","broker":"fe8797cf.df3b68","x":90,"y":140,"wires":[["c2c9606c.69bfc","926f8902.65ac98"]]},{"id":"c2c9606c.69bfc","type":"debug","z":"d9511b98.bb15b8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":410,"y":100,"wires":[]},{"id":"745df124.80f21","type":"influxdb out","z":"d9511b98.bb15b8","influxdb":"43f45c0c.1359e4","name":"","measurement":"random","precision":"","retentionPolicy":"","x":420,"y":240,"wires":[]},{"id":"1e922a87.80a855","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"","query":"select * from random","rawOutput":true,"precision":"s","retentionPolicy":"","x":220,"y":120,"wires":[["22abdc25.93f924","32715b94.e61bb4"]]},{"id":"32715b94.e61bb4","type":"debug","z":"6c6dfead.8583e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":300,"wires":[]},{"id":"6088aba8.b985b4","type":"mqtt in","z":"6c6dfead.8583e","name":"","topic":"#","qos":"2","broker":"fe8797cf.df3b68","x":70,"y":220,"wires":[["1e922a87.80a855","3fcb8045.17de2"]]},{"id":"3fcb8045.17de2","type":"debug","z":"6c6dfead.8583e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":190,"y":360,"wires":[]},{"id":"af86d80c.9c00c8","type":"ui_chart","z":"6c6dfead.8583e","name":"","group":"4e96d1f9.9c4bc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":460,"y":440,"wires":[[],[]]},{"id":"22abdc25.93f924","type":"function","z":"6c6dfead.8583e","name":"","func":"var influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    series.push(influx.columns[i]);\n    data.push( \n        influx.values.map(\n            (value) => {return {x:value[0], y:value[i]}}\n        )\n    )\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nconsole.log(\"------\");\nconsole.log(chart);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["af86d80c.9c00c8"]]},{"id":"926f8902.65ac98","type":"function","z":"d9511b98.bb15b8","name":"","func":"msg.payload={\n    random: Number(msg.payload)/1000,\n    temperature1: 40+Math.random()*0.4,\n    temperature2: 41+Math.random()*0.4,\n    humidity1: 60+Math.random()*0.4,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["745df124.80f21"]]}]