node-red/data/flows.json
[{"id":"bfa4dc54.1fff4","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"148352a8.2b667d","type":"tab","label":"Test forms","disabled":true,"info":""},{"id":"d9511b98.bb15b8","type":"tab","label":"Receive log","disabled":false,"info":""},{"id":"6c6dfead.8583e","type":"tab","label":"Calculate chart","disabled":false,"info":""},{"id":"f2d67a9f.a01528","type":"tab","label":"Load targs","disabled":false,"info":"This flow will check if the number of tags has changed\nin the database and update the select menu."},{"id":"fe8797cf.df3b68","type":"mqtt-broker","z":"","name":"mosca","broker":"mosca","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23b1529a.b81aee","type":"telegram bot","z":"","botname":"beemos_bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"1000000000"},{"id":"72532686.b68148","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"4e96d1f9.9c4bc","type":"ui_group","z":"","name":"Left","tab":"72532686.b68148","order":2,"disp":true,"width":"8","collapse":true},{"id":"e3fa3454.d7f6f8","type":"ui_tab","z":"","name":"Second","icon":"dashboard","order":3},{"id":"615d5659.913228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Monitoring system","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a178685.1f9718","type":"ui_group","z":"","name":"Right","tab":"72532686.b68148","order":4,"disp":true,"width":"4","collapse":true},{"id":"43f45c0c.1359e4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"data","name":"","usetls":false,"tls":""},{"id":"7691fcc9.1fb254","type":"ui_tab","z":"","name":"Third","icon":"dashboard","order":4},{"id":"1f2307d8.233328","type":"ui_group","z":"","name":"Gauges","tab":"e3fa3454.d7f6f8","disp":true,"width":"6","collapse":false},{"id":"29df2360.7c422c","type":"ui_group","z":"","name":"Center","tab":"72532686.b68148","order":3,"disp":true,"width":"8","collapse":true},{"id":"147f8390.ed188c","type":"ui_link","z":"","name":"Beemos","link":"http://www.beemos.org","icon":"open_in_browser","target":"iframe","order":2},{"id":"11edbb01.f308f5","type":"ui_group","z":"","name":"Menu","tab":"72532686.b68148","order":1,"disp":true,"width":"6","collapse":false},{"id":"851838eb.aa0208","type":"mqtt in","z":"bfa4dc54.1fff4","name":"","topic":"telegram","qos":"2","broker":"fe8797cf.df3b68","x":100,"y":120,"wires":[["db6a1253.35ca6","f7194b8c.20f6c8","62c059b4.eb9d98"]]},{"id":"db6a1253.35ca6","type":"debug","z":"bfa4dc54.1fff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"9434bca0.1cb1f","type":"telegram sender","z":"bfa4dc54.1fff4","name":"","bot":"23b1529a.b81aee","x":770,"y":240,"wires":[[]]},{"id":"588ff76a.20a728","type":"function","z":"bfa4dc54.1fff4","name":"Msg to Telegram","func":"msg.payload={\n    content: 'Alert: '+msg.payload,\n    type: 'message',\n    chatId: -284201330\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["9434bca0.1cb1f"]]},{"id":"f7194b8c.20f6c8","type":"ui_text","z":"bfa4dc54.1fff4","group":"29df2360.7c422c","order":1,"width":"12","height":"2","name":"","label":"Value received from the 'telegram' topic","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":340,"wires":[]},{"id":"a2829327.1d238","type":"ui_text_input","z":"148352a8.2b667d","name":"","label":"Text input","group":"6a178685.1f9718","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":120,"wires":[["c901f9d7.ee0478","e4a021cb.de7ec"]]},{"id":"cb2ebc02.96d1","type":"ui_text","z":"148352a8.2b667d","group":"6a178685.1f9718","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":200,"wires":[]},{"id":"c901f9d7.ee0478","type":"debug","z":"148352a8.2b667d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":270,"y":100,"wires":[]},{"id":"e4a021cb.de7ec","type":"function","z":"148352a8.2b667d","name":"","func":"msg.payload=\"-----> \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["cb2ebc02.96d1"]]},{"id":"52f2e5c5.b5c42c","type":"ui_form","z":"148352a8.2b667d","name":"","label":"","group":"4e96d1f9.9c4bc","order":3,"width":0,"height":0,"options":[{"label":"Domain","value":"domain","type":"password","required":true}],"formValue":{"domain":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":260,"wires":[["f8225dd5.56659"]]},{"id":"f8225dd5.56659","type":"debug","z":"148352a8.2b667d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":280,"y":280,"wires":[]},{"id":"ea3f67f6.997828","type":"mqtt in","z":"d9511b98.bb15b8","name":"","topic":"#","qos":"2","broker":"fe8797cf.df3b68","x":110,"y":260,"wires":[["926f8902.65ac98"]]},{"id":"c2c9606c.69bfc","type":"debug","z":"d9511b98.bb15b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":560,"y":80,"wires":[]},{"id":"745df124.80f21","type":"influxdb out","z":"d9511b98.bb15b8","influxdb":"43f45c0c.1359e4","name":"","measurement":"","precision":"","retentionPolicy":"","x":570,"y":180,"wires":[]},{"id":"1e922a87.80a855","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last 10m","query":"select * from Computer where time > now() -10m","rawOutput":true,"precision":"s","retentionPolicy":"","x":520,"y":300,"wires":[["22abdc25.93f924","32715b94.e61bb4","47cd54f4.99732c"]]},{"id":"32715b94.e61bb4","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":240,"wires":[]},{"id":"6088aba8.b985b4","type":"mqtt in","z":"6c6dfead.8583e","name":"","topic":"#","qos":"2","broker":"fe8797cf.df3b68","x":70,"y":460,"wires":[["665e25f7.83cb6c"]]},{"id":"3fcb8045.17de2","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":530,"y":400,"wires":[]},{"id":"af86d80c.9c00c8","type":"ui_chart","z":"6c6dfead.8583e","name":"CPU 10m","group":"4e96d1f9.9c4bc","order":1,"width":0,"height":0,"label":"CPU usage [%] (10 min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":300,"wires":[[],[]]},{"id":"22abdc25.93f924","type":"function","z":"6c6dfead.8583e","name":"Load 10min","func":"var influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["af86d80c.9c00c8"]]},{"id":"926f8902.65ac98","type":"function","z":"d9511b98.bb15b8","name":"Parse Multilog","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts=msg.topic.split('/');\n\nif (parts.length!==3) return;\n\nlet data=LegoinoUtil.parseMultilogLine(msg.payload, {\n    kind: parts[1],\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nlet tags={\n    user: parts[0],\n    name: parts[2]\n}\n\nmsg.measurement=parts[1];\nmsg.payload=[data, tags];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["c2c9606c.69bfc","745df124.80f21"]]},{"id":"62c059b4.eb9d98","type":"switch","z":"bfa4dc54.1fff4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":180,"wires":[["588ff76a.20a728"]]},{"id":"f983592.7732da8","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last 7d","query":"select median(*) from Computer where time > now() - 7d group by time(1h)","rawOutput":true,"precision":"h","retentionPolicy":"","x":520,"y":540,"wires":[["bf2287d4.df5008","d8832098.61299","263213d8.760b2c"]]},{"id":"bf2287d4.df5008","type":"function","z":"6c6dfead.8583e","name":"Load 7d","func":"var influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i].replace(/^[^_]*_/,''));\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["1ea04d21.c89b63"]]},{"id":"1ea04d21.c89b63","type":"ui_chart","z":"6c6dfead.8583e","name":"CPU 7d","group":"4e96d1f9.9c4bc","order":2,"width":0,"height":0,"label":"CPU usage [%] (7d)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":520,"wires":[[],[]]},{"id":"d8832098.61299","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":460,"wires":[]},{"id":"47cd54f4.99732c","type":"function","z":"6c6dfead.8583e","name":"R/W 10min","func":"var influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/Read|Write/)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["ef2765c1.7469f8"]]},{"id":"263213d8.760b2c","type":"function","z":"6c6dfead.8583e","name":"R/W 7d","func":"var influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i].replace(/^[^_]*_/,''));\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["bce3fad9.0b37c8"]]},{"id":"ef2765c1.7469f8","type":"ui_chart","z":"6c6dfead.8583e","name":"RW 10m","group":"29df2360.7c422c","order":2,"width":0,"height":0,"label":"R/W [kb/s] (10 min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":360,"wires":[[],[]]},{"id":"bce3fad9.0b37c8","type":"ui_chart","z":"6c6dfead.8583e","name":"RW 7d","group":"29df2360.7c422c","order":3,"width":0,"height":0,"label":"R/W [kb/s] (7d)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":580,"wires":[[],[]]},{"id":"665e25f7.83cb6c","type":"throttle","z":"6c6dfead.8583e","name":"","throttleType":"time","timeLimit":"2","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":230,"y":460,"wires":[["3fcb8045.17de2","bacb11fb.771dc","94587fc3.d5366"]]},{"id":"2f2cd90e.b413f6","type":"inject","z":"f2d67a9f.a01528","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["23c169d.ecdff96"]]},{"id":"23c169d.ecdff96","type":"influxdb in","z":"f2d67a9f.a01528","influxdb":"43f45c0c.1359e4","name":"Selext tags name","query":"show tag values with key=\"name\"","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":260,"wires":[["2fcee0b5.ef03","ea76667b.a430f8"]]},{"id":"2fcee0b5.ef03","type":"debug","z":"f2d67a9f.a01528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"a7c2e93e.e83988","type":"ui_dropdown","z":"f2d67a9f.a01528","name":"","label":"","place":"Select option","group":"11edbb01.f308f5","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":760,"y":380,"wires":[["dce70461.7627c8","413212d.79a0bec"]]},{"id":"ea76667b.a430f8","type":"function","z":"f2d67a9f.a01528","name":"","func":"\nlet previousNumberDevices=global.get('numberDevices');\n\nmsg.options=msg.payload.map( (item) => item.value);\n\nreturn msg;\n\nif (previousNumberDevices!=msg.options.length) {\n    global.set('numberDevices',msg.options.length);\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["a7c2e93e.e83988"]]},{"id":"e33c3447.88e858","type":"link out","z":"f2d67a9f.a01528","name":"selectTopic","links":["501b17b6.315588"],"x":1100,"y":440,"wires":[]},{"id":"501b17b6.315588","type":"link in","z":"6c6dfead.8583e","name":"","links":["e33c3447.88e858"],"x":35,"y":400,"wires":[["bacb11fb.771dc","456ae271.111e9c","17e7524d.fa644e"]]},{"id":"e28f284d.30be78","type":"debug","z":"6c6dfead.8583e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":760,"y":40,"wires":[]},{"id":"bacb11fb.771dc","type":"function","z":"6c6dfead.8583e","name":"Last 10m","func":"var device=global.get('deviceSelected');\n\nmsg.device=device;\nmsg.query=`select * from Computer where time > now() -10m and \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["1e922a87.80a855"]]},{"id":"dce70461.7627c8","type":"function","z":"f2d67a9f.a01528","name":"","func":"global.set('deviceSelected',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":420,"wires":[["e33c3447.88e858"]]},{"id":"413212d.79a0bec","type":"debug","z":"f2d67a9f.a01528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":500,"wires":[]},{"id":"456ae271.111e9c","type":"ui_text","z":"6c6dfead.8583e","group":"11edbb01.f308f5","order":3,"width":0,"height":0,"name":"","label":"Selected device","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":240,"wires":[]},{"id":"17e7524d.fa644e","type":"function","z":"6c6dfead.8583e","name":"Last","func":"var device=global.get('deviceSelected');\n\nmsg.device=device;\nmsg.query=`select last(*) from Computer where \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["3ab9be68.3dc402"]]},{"id":"3ab9be68.3dc402","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last","query":"","rawOutput":false,"precision":"s","retentionPolicy":"","x":510,"y":240,"wires":[["e28f284d.30be78","ceef6da2.818e4","fd368db9.1a156","60513e93.3bdea","c98602a7.3fe6c"]]},{"id":"c98602a7.3fe6c","type":"ui_gauge","z":"6c6dfead.8583e","name":"Memory","group":"6a178685.1f9718","order":4,"width":0,"height":0,"gtype":"gage","title":"Free memory","label":"%","format":"{{msg.payload[0].last_memFree}}","min":"0","max":"100","colors":["#ba1c1c","#0005ea","#38ca5a"],"seg1":"20","seg2":"40","x":740,"y":80,"wires":[]},{"id":"60513e93.3bdea","type":"ui_gauge","z":"6c6dfead.8583e","name":"CPU","group":"6a178685.1f9718","order":3,"width":0,"height":0,"gtype":"gage","title":"Load","label":"%","format":"{{msg.payload[0].last_load}}","min":"0","max":"100","colors":["#1cba37","#0005ea","#ca3838"],"seg1":"50","seg2":"75","x":730,"y":120,"wires":[]},{"id":"fd368db9.1a156","type":"ui_gauge","z":"6c6dfead.8583e","name":"Disk","group":"6a178685.1f9718","order":5,"width":0,"height":0,"gtype":"gage","title":"Used disk","label":"%","format":"{{msg.payload[0].last_fsMaxUsed}}","min":"0","max":"100","colors":["#1cba2d","#0005ea","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":160,"wires":[]},{"id":"ceef6da2.818e4","type":"ui_template","z":"6c6dfead.8583e","group":"11edbb01.f308f5","name":"","order":4,"width":0,"height":0,"format":"<div>\n<table>\n    <tr>\n        <th align='left'>CPU temperature</th>\n        <td>{{msg.payload[0].last_cpuTemperature}} °C</td>\n    </tr>\n     <tr>\n        <th align='left'>Free memory</th>\n        <td>{{msg.payload[0].memFree}} %</td>\n    </tr>\n    <tr>\n        <th align='left'>Free disk</th>\n        <td>{{100-msg.payload[0].fsMaxUsed}} %</td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":200,"wires":[[]]},{"id":"94587fc3.d5366","type":"function","z":"6c6dfead.8583e","name":"Last 7d","func":"var device=global.get('deviceSelected');\n\nmsg.device=device;\nmsg.query=`select median(*) from Computer where time > now() -7d and \"name\"='${device}' group by time(1h)`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["f983592.7732da8"]]}]