node-red/data/flows.json
[{"id":"bfa4dc54.1fff4","type":"tab","label":"Forward to telegram","disabled":true,"info":""},{"id":"d9511b98.bb15b8","type":"tab","label":"Receive log","disabled":false,"info":""},{"id":"6c6dfead.8583e","type":"tab","label":"Computer","disabled":false,"info":""},{"id":"f2d67a9f.a01528","type":"tab","label":"Load tags","disabled":false,"info":"This flow will check if the number of tags has changed\nin the database and update the select menu."},{"id":"35414f73.c188d","type":"tab","label":"Cubes","disabled":true,"info":""},{"id":"c0d96a0e.935f68","type":"tab","label":"Calculate Chart BeeHive","disabled":false,"info":""},{"id":"fe8797cf.df3b68","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23b1529a.b81aee","type":"telegram bot","botname":"beemos_bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"1000000000"},{"id":"72532686.b68148","type":"ui_tab","name":"Servers monitoring","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"4e96d1f9.9c4bc","type":"ui_group","name":"Left","tab":"72532686.b68148","order":2,"disp":true,"width":"8","collapse":true},{"id":"e3fa3454.d7f6f8","type":"ui_tab","name":"Cubes","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"615d5659.913228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Monitoring system","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a178685.1f9718","type":"ui_group","name":"Right","tab":"72532686.b68148","order":4,"disp":true,"width":"4","collapse":true},{"id":"43f45c0c.1359e4","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"data","name":"","usetls":false,"tls":""},{"id":"7691fcc9.1fb254","type":"ui_tab","name":"Beemos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1f2307d8.233328","type":"ui_group","name":"Control","tab":"e3fa3454.d7f6f8","disp":true,"width":"6","collapse":false},{"id":"29df2360.7c422c","type":"ui_group","name":"Center","tab":"72532686.b68148","order":3,"disp":true,"width":"8","collapse":true},{"id":"11edbb01.f308f5","type":"ui_group","name":"Menu","tab":"72532686.b68148","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e52a034.f9aff","type":"ui_group","name":"Current","tab":"e3fa3454.d7f6f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"867c5457.0acb38","type":"ui_group","name":"History","tab":"e3fa3454.d7f6f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a92aa141.42695","type":"ui_group","name":"Menu","tab":"7691fcc9.1fb254","order":1,"disp":true,"width":"6","collapse":false},{"id":"78c96afa.759214","type":"ui_group","name":"Internal","tab":"7691fcc9.1fb254","order":2,"disp":true,"width":"4","collapse":false},{"id":"16363f90.95037","type":"ui_group","name":"History","tab":"7691fcc9.1fb254","order":4,"disp":true,"width":"6","collapse":false},{"id":"933b97fb.f6b048","type":"ui_group","name":"External","tab":"7691fcc9.1fb254","order":3,"disp":true,"width":"4","collapse":false},{"id":"ca462fba1bf8b293","type":"ui_tab","name":"MQTT Debug","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"258ba94c92d5bb35","type":"ui_group","name":"Detailed information about mqtt packet","tab":"ca462fba1bf8b293","order":2,"disp":true,"width":"9","collapse":false},{"id":"7dd31ee3be6c6751","type":"ui_group","name":"List of last mqtt publish - Click for details","tab":"ca462fba1bf8b293","order":1,"disp":true,"width":"9","collapse":false},{"id":"32f7275255e15863","type":"ui_group","name":"Interaction","tab":"ca462fba1bf8b293","order":3,"disp":true,"width":"6","collapse":true},{"id":"851838eb.aa0208","type":"mqtt in","z":"bfa4dc54.1fff4","name":"","topic":"#","qos":"0","datatype":"utf8","broker":"fe8797cf.df3b68","inputs":0,"x":90,"y":180,"wires":[["db6a1253.35ca6","f7194b8c.20f6c8","62c059b4.eb9d98"]]},{"id":"db6a1253.35ca6","type":"debug","z":"bfa4dc54.1fff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"9434bca0.1cb1f","type":"telegram sender","z":"bfa4dc54.1fff4","name":"","bot":"23b1529a.b81aee","x":760,"y":180,"wires":[[]]},{"id":"588ff76a.20a728","type":"function","z":"bfa4dc54.1fff4","name":"Msg to Telegram","func":"msg.payload={\n    content: 'Alert: '+msg.payload,\n    type: 'message',\n    chatId: -284201330\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["9434bca0.1cb1f"]]},{"id":"f7194b8c.20f6c8","type":"ui_text","z":"bfa4dc54.1fff4","group":"29df2360.7c422c","order":1,"width":"12","height":"2","name":"","label":"Telegram topic","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":280,"wires":[]},{"id":"62c059b4.eb9d98","type":"switch","z":"bfa4dc54.1fff4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":180,"wires":[["588ff76a.20a728"]]},{"id":"ea3f67f6.997828","type":"mqtt in","z":"d9511b98.bb15b8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"fe8797cf.df3b68","nl":false,"rap":false,"inputs":0,"x":70,"y":220,"wires":[["ac1da941.0af588","926f8902.65ac98","6c5ac7bfa373c13e","7fbff8210ce329c5"]]},{"id":"c2c9606c.69bfc","type":"debug","z":"d9511b98.bb15b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":540,"y":340,"wires":[]},{"id":"745df124.80f21","type":"influxdb out","z":"d9511b98.bb15b8","influxdb":"43f45c0c.1359e4","name":"","measurement":"","precision":"","retentionPolicy":"","x":550,"y":420,"wires":[]},{"id":"926f8902.65ac98","type":"function","z":"d9511b98.bb15b8","name":"Parse Compact log","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts=msg.topic.split('/');\n\n\nif (parts.length!==3) return;\n\nlet data=LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: parts[1],\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nlet tags={\n    user: parts[0],\n    name: parts[2]\n}\n\nmsg.measurement=parts[1];\nmsg.payload=[data, tags];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":380,"wires":[["c2c9606c.69bfc","745df124.80f21"]]},{"id":"ac1da941.0af588","type":"debug","z":"d9511b98.bb15b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","statusVal":"","statusType":"auto","x":300,"y":40,"wires":[]},{"id":"50471bef597a7a51","type":"ui_table","z":"d9511b98.bb15b8","group":"258ba94c92d5bb35","name":"Current status","order":3,"width":"9","height":"14","columns":[{"field":"row","title":"Param number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"label","title":"Label","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1040,"y":60,"wires":[[]]},{"id":"06f36f4e9784fa8a","type":"ui_text","z":"d9511b98.bb15b8","group":"258ba94c92d5bb35","order":1,"width":"9","height":"1","name":"","label":"Topic","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":140,"wires":[]},{"id":"6c5ac7bfa373c13e","type":"function","z":"d9511b98.bb15b8","name":"","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts=msg.topic.split('/');\nif (parts.length!==3) return;\n\nlet data=LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: parts[1],\n    parameterLabel: true,\n    parameterInfo: true,\n    parametersArray: true,\n    flatten: true\n  }).parametersArray;\n\ndata.forEach((entry, row) => entry.row=row)\n\n\nlet lastTopics = global.get('lastTopics') || [];\n\nlastTopics.push({\n    topic: msg.topic,\n    epoch: Date.now(),\n    date: new Date().toISOString().replace('T',' ').replace('Z',''),\n    data,\n    mqtt: msg.payload,\n});\n\nlastTopics = lastTopics.sort( (a,b) => (b.epoch-a.epoch));\nlastTopics = lastTopics.slice(0,100);\n\nglobal.set('lastTopics',lastTopics);\n\n\nreturn {\n    payload: lastTopics\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["205df74522240eff"]]},{"id":"7a17b452ab889f49","type":"ui_table","z":"d9511b98.bb15b8","group":"7dd31ee3be6c6751","name":"Last topics","order":1,"width":"9","height":"14","columns":[{"field":"topic","title":"Topic","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"Date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":610,"y":100,"wires":[["fd01dccbd6be607b","bf0ed4f9c7f11454","90b6665511ba2537","4d2aa2ef683f5204"]]},{"id":"fd01dccbd6be607b","type":"function","z":"d9511b98.bb15b8","name":"","func":"\nreturn {\n    payload: msg.payload.data\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":60,"wires":[["50471bef597a7a51"]]},{"id":"bf0ed4f9c7f11454","type":"function","z":"d9511b98.bb15b8","name":"","func":"const topic = msg.payload.topic;\n\nreturn {\n    payload: topic,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":140,"wires":[["06f36f4e9784fa8a"]]},{"id":"90b6665511ba2537","type":"function","z":"d9511b98.bb15b8","name":"","func":"\nreturn {\n    payload: msg.payload.mqtt\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":100,"wires":[["b53757eb40383697"]]},{"id":"205df74522240eff","type":"throttle","z":"d9511b98.bb15b8","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":440,"y":100,"wires":[["7a17b452ab889f49"]]},{"id":"3e9a312ddb380840","type":"mqtt out","z":"d9511b98.bb15b8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fe8797cf.df3b68","x":1010,"y":260,"wires":[]},{"id":"7fbff8210ce329c5","type":"function","z":"d9511b98.bb15b8","name":"Check MQTT answer","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts=msg.topic.split('/');\n\nif (parts.length!==5) return;\n\nreturn {\n    payload: msg.payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["9496a500bf91901b"]]},{"id":"9496a500bf91901b","type":"ui_template","z":"d9511b98.bb15b8","group":"32f7275255e15863","name":"","order":3,"width":"6","height":"9","format":"<textarea style=\"height: 100%\">\n{{msg.payload}}\n</textarea>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":500,"wires":[[]]},{"id":"ce11d9471063f5db","type":"function","z":"d9511b98.bb15b8","name":"","func":"\nreturn {\n    topic: global.get('currentCommandTopic'),\n    payload: msg.payload,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":260,"wires":[["3e9a312ddb380840"]]},{"id":"8bbb7bd33a5fd8a5","type":"ui_text_input","z":"d9511b98.bb15b8","name":"","label":"Enter a command","tooltip":"Press enter to send the command","group":"32f7275255e15863","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":630,"y":260,"wires":[["ce11d9471063f5db"]]},{"id":"4b7bfde83778ebe9","type":"ui_text_input","z":"d9511b98.bb15b8","name":"","label":"Topic to send the command","tooltip":"Press enter to send the command","group":"32f7275255e15863","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1080,"y":180,"wires":[["b30ae43961c46a14"]]},{"id":"4d2aa2ef683f5204","type":"function","z":"d9511b98.bb15b8","name":"Default topic","func":"const topic = msg.payload.topic + '/q';\n\nreturn {\n    payload: topic,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":180,"wires":[["4b7bfde83778ebe9"]]},{"id":"b30ae43961c46a14","type":"function","z":"d9511b98.bb15b8","name":"Cache command topic","func":"global.set('currentCommandTopic', msg.payload);\n\nreturn {\n    payload: global.get('currentCommandTopic'),\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":180,"wires":[[]]},{"id":"b53757eb40383697","type":"ui_template","z":"d9511b98.bb15b8","group":"258ba94c92d5bb35","name":"MQTT packet","order":2,"width":"9","height":"2","format":"<textarea style=\"height: 100%\">\n{{msg.payload}}\n</textarea>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040,"y":100,"wires":[[]]},{"id":"1e922a87.80a855","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last 10m","query":"select * from Computer where time > now() -10m","rawOutput":true,"precision":"s","retentionPolicy":"","x":520,"y":300,"wires":[["22abdc25.93f924","32715b94.e61bb4","47cd54f4.99732c"]]},{"id":"32715b94.e61bb4","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":240,"wires":[]},{"id":"6088aba8.b985b4","type":"mqtt in","z":"6c6dfead.8583e","name":"","topic":"+/Computer/+","qos":"2","datatype":"auto","broker":"fe8797cf.df3b68","nl":false,"rap":false,"inputs":0,"x":90,"y":460,"wires":[["665e25f7.83cb6c"]]},{"id":"3fcb8045.17de2","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"af86d80c.9c00c8","type":"ui_chart","z":"6c6dfead.8583e","name":"CPU 10m","group":"4e96d1f9.9c4bc","order":1,"width":0,"height":0,"label":"CPU usage [%] (10 min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":900,"y":300,"wires":[[],[]]},{"id":"22abdc25.93f924","type":"function","z":"6c6dfead.8583e","name":"Load 10min","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":300,"wires":[["af86d80c.9c00c8"]]},{"id":"f983592.7732da8","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last 7d","query":"select median(*) from Computer where time > now() - 7d group by time(1h)","rawOutput":true,"precision":"h","retentionPolicy":"","x":520,"y":540,"wires":[["bf2287d4.df5008","d8832098.61299","263213d8.760b2c"]]},{"id":"bf2287d4.df5008","type":"function","z":"6c6dfead.8583e","name":"Load 7d","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i].replace(/^[^_]*_/,''));\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":520,"wires":[["1ea04d21.c89b63"]]},{"id":"1ea04d21.c89b63","type":"ui_chart","z":"6c6dfead.8583e","name":"CPU 7d","group":"4e96d1f9.9c4bc","order":2,"width":0,"height":0,"label":"CPU usage [%] (7d)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":900,"y":520,"wires":[[],[]]},{"id":"d8832098.61299","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":460,"wires":[]},{"id":"47cd54f4.99732c","type":"function","z":"6c6dfead.8583e","name":"R/W 10min","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/Read|Write/)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["ef2765c1.7469f8"]]},{"id":"263213d8.760b2c","type":"function","z":"6c6dfead.8583e","name":"R/W 7d","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/load/)) {\n        series.push(influx.columns[i].replace(/^[^_]*_/,''));\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["bce3fad9.0b37c8"]]},{"id":"ef2765c1.7469f8","type":"ui_chart","z":"6c6dfead.8583e","name":"RW 10m","group":"29df2360.7c422c","order":2,"width":0,"height":0,"label":"R/W [kb/s] (10 min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":900,"y":360,"wires":[[],[]]},{"id":"bce3fad9.0b37c8","type":"ui_chart","z":"6c6dfead.8583e","name":"RW 7d","group":"29df2360.7c422c","order":3,"width":0,"height":0,"label":"R/W [kb/s] (7d)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":890,"y":580,"wires":[[],[]]},{"id":"665e25f7.83cb6c","type":"throttle","z":"6c6dfead.8583e","name":"","throttleType":"time","timeLimit":"2","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":240,"y":460,"wires":[["3fcb8045.17de2","bacb11fb.771dc","94587fc3.d5366"]]},{"id":"501b17b6.315588","type":"link in","z":"6c6dfead.8583e","name":"","links":["e33c3447.88e858"],"x":35,"y":400,"wires":[["bacb11fb.771dc","456ae271.111e9c","17e7524d.fa644e"]]},{"id":"e28f284d.30be78","type":"debug","z":"6c6dfead.8583e","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":760,"y":40,"wires":[]},{"id":"bacb11fb.771dc","type":"function","z":"6c6dfead.8583e","name":"Last 10m","func":"const device=global.get('computerSelected');\n\nif (! device) return null;\n\nmsg.device=device;\nmsg.query=`select * from Computer where time > now() -10m and \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["1e922a87.80a855"]]},{"id":"456ae271.111e9c","type":"ui_text","z":"6c6dfead.8583e","group":"11edbb01.f308f5","order":3,"width":0,"height":0,"name":"","label":"Selected device","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":240,"wires":[]},{"id":"17e7524d.fa644e","type":"function","z":"6c6dfead.8583e","name":"Last","func":"const device=global.get('computerSelected');\n\nif (! device) return null;\n\nmsg.device=device;\nmsg.query=`select last(*) from Computer where \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["3ab9be68.3dc402"]]},{"id":"3ab9be68.3dc402","type":"influxdb in","z":"6c6dfead.8583e","influxdb":"43f45c0c.1359e4","name":"Last","query":"","rawOutput":false,"precision":"s","retentionPolicy":"","x":510,"y":240,"wires":[["e28f284d.30be78","ceef6da2.818e4","fd368db9.1a156","60513e93.3bdea","c98602a7.3fe6c"]]},{"id":"c98602a7.3fe6c","type":"ui_gauge","z":"6c6dfead.8583e","name":"Memory","group":"6a178685.1f9718","order":4,"width":0,"height":0,"gtype":"gage","title":"Free memory","label":"%","format":"{{msg.payload[0].last_memFree}}","min":"0","max":"100","colors":["#ba1c1c","#0005ea","#38ca5a"],"seg1":"20","seg2":"40","x":740,"y":80,"wires":[]},{"id":"60513e93.3bdea","type":"ui_gauge","z":"6c6dfead.8583e","name":"CPU","group":"6a178685.1f9718","order":3,"width":0,"height":0,"gtype":"gage","title":"Load","label":"%","format":"{{msg.payload[0].last_load}}","min":"0","max":"100","colors":["#1cba37","#0005ea","#ca3838"],"seg1":"50","seg2":"75","x":730,"y":120,"wires":[]},{"id":"fd368db9.1a156","type":"ui_gauge","z":"6c6dfead.8583e","name":"Disk","group":"6a178685.1f9718","order":5,"width":0,"height":0,"gtype":"gage","title":"Used disk","label":"%","format":"{{msg.payload[0].last_fsMaxUsed}}","min":"0","max":"100","colors":["#1cba2d","#0005ea","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":160,"wires":[]},{"id":"ceef6da2.818e4","type":"ui_template","z":"6c6dfead.8583e","group":"11edbb01.f308f5","name":"","order":4,"width":0,"height":0,"format":"<div>\n<table>\n    <tr>\n        <th align='left'>CPU temperature</th>\n        <td>{{msg.payload[0].last_cpuTemperature}} °C</td>\n    </tr>\n     <tr>\n        <th align='left'>Free memory</th>\n        <td>{{msg.payload[0].last_memFree}} %</td>\n    </tr>\n    <tr>\n        <th align='left'>Free disk</th>\n        <td>{{100-msg.payload[0].last_fsMaxUsed}} %</td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":200,"wires":[[]]},{"id":"94587fc3.d5366","type":"function","z":"6c6dfead.8583e","name":"Last 7d","func":"const device=global.get('computerSelected');\n\nif (! device) return null;\n\nmsg.device=device;\nmsg.query=`select median(*) from Computer where time > now() -7d and \"name\"='${device}' group by time(1h)`;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["f983592.7732da8"]]},{"id":"2f2cd90e.b413f6","type":"inject","z":"f2d67a9f.a01528","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["23c169d.ecdff96","f2342e558270492b"]]},{"id":"23c169d.ecdff96","type":"influxdb in","z":"f2d67a9f.a01528","influxdb":"43f45c0c.1359e4","name":"Select tags name from Computer","query":"show tag values from Computer with key=\"name\"","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":240,"wires":[["ea76667b.a430f8"]]},{"id":"a7c2e93e.e83988","type":"ui_dropdown","z":"f2d67a9f.a01528","name":"","label":"","tooltip":"","place":"Select computer","group":"11edbb01.f308f5","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":240,"wires":[["dce70461.7627c8"]]},{"id":"ea76667b.a430f8","type":"function","z":"f2d67a9f.a01528","name":"","func":"\nmsg.options=msg.payload.map( (item) => item.value);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["a7c2e93e.e83988"]]},{"id":"e33c3447.88e858","type":"link out","z":"f2d67a9f.a01528","name":"computerChanged","mode":"link","links":["501b17b6.315588"],"x":1065,"y":240,"wires":[]},{"id":"dce70461.7627c8","type":"function","z":"f2d67a9f.a01528","name":"","func":"global.set('computerSelected',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":240,"wires":[["e33c3447.88e858"]]},{"id":"f2342e558270492b","type":"influxdb in","z":"f2d67a9f.a01528","influxdb":"43f45c0c.1359e4","name":"Select tags name from Beemos","query":"show tag values from Beemos with key=\"name\"","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":300,"wires":[["2dc5f1a38ebe71bb"]]},{"id":"4adbab169bfd24fd","type":"ui_dropdown","z":"f2d67a9f.a01528","name":"","label":"","tooltip":"","place":"Select beehive","group":"a92aa141.42695","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":300,"wires":[["c6f4d71e2040c772"]]},{"id":"2dc5f1a38ebe71bb","type":"function","z":"f2d67a9f.a01528","name":"","func":"\nmsg.options=msg.payload.map( (item) => item.value);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["4adbab169bfd24fd"]]},{"id":"f515dda71d42b21f","type":"link out","z":"f2d67a9f.a01528","name":"beehiveChanged","mode":"link","links":["74fff758.3a4898"],"x":1065,"y":300,"wires":[]},{"id":"c6f4d71e2040c772","type":"function","z":"f2d67a9f.a01528","name":"","func":"global.set('beehiveSelected',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":300,"wires":[["f515dda71d42b21f"]]},{"id":"7ed6af76.8282a","type":"ui_slider","z":"35414f73.c188d","name":"","label":"Intensity","tooltip":"","group":"1f2307d8.233328","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Intensity","min":0,"max":"255","step":1,"x":580,"y":300,"wires":[["b0a6b552.82f9b8"]]},{"id":"676c65c2.91d49c","type":"ui_colour_picker","z":"35414f73.c188d","name":"Cube color 1","label":"Color 1","group":"1f2307d8.233328","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"true","order":3,"width":0,"height":0,"passthru":true,"topic":"color1","x":590,"y":60,"wires":[["b9af1b11.c86718"]]},{"id":"cfb245b8.b70cf8","type":"ui_dropdown","z":"35414f73.c188d","name":"","label":"Program","tooltip":"","place":"Select option","group":"1f2307d8.233328","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"Static","value":"1","type":"str"},{"label":"Fade","value":"2","type":"str"},{"label":"Change","value":"3","type":"str"}],"payload":"","topic":"","x":580,"y":420,"wires":[["7c2d589b.1c97b8"]]},{"id":"946ff717.207578","type":"ui_colour_picker","z":"35414f73.c188d","name":"Cube color 2","label":"Color 2","group":"1f2307d8.233328","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":4,"width":0,"height":0,"passthru":true,"topic":"cube","x":590,"y":120,"wires":[["d1008a75.303e48"]]},{"id":"390d633d.6e795c","type":"ui_colour_picker","z":"35414f73.c188d","name":"Cube color 3","label":"Color 3","group":"1f2307d8.233328","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":5,"width":0,"height":0,"passthru":true,"topic":"cube","x":590,"y":180,"wires":[["aa8b9c7d.44dae"]]},{"id":"1cd2f4cb.7663fb","type":"ui_colour_picker","z":"35414f73.c188d","name":"Cube color 4","label":"Color 4","group":"1f2307d8.233328","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":6,"width":0,"height":0,"passthru":true,"topic":"cube","x":590,"y":240,"wires":[["225fcaf0.7c88b6"]]},{"id":"a18db1f5.a92a5","type":"ui_slider","z":"35414f73.c188d","name":"","label":"Speed","tooltip":"","group":"1f2307d8.233328","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Speed","min":0,"max":"255","step":1,"x":570,"y":360,"wires":[["81c797d5.c6c3b8"]]},{"id":"4040705e.cf2f5","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":60,"wires":[]},{"id":"b9af1b11.c86718","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'A'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":60,"wires":[["4040705e.cf2f5","c56b8a6b.e6bd88"]]},{"id":"54bf0cc.a6e8ef4","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":120,"wires":[]},{"id":"d1008a75.303e48","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'E'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["54bf0cc.a6e8ef4"]]},{"id":"45fcef24.2a022","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":180,"wires":[]},{"id":"aa8b9c7d.44dae","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'I'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["45fcef24.2a022"]]},{"id":"ff1b0820.d8fec8","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":240,"wires":[]},{"id":"225fcaf0.7c88b6","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'M'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["ff1b0820.d8fec8"]]},{"id":"b0a6b552.82f9b8","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'M'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["854594f1.d90508"]]},{"id":"81c797d5.c6c3b8","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'M'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["fc017a0a.d79468"]]},{"id":"7c2d589b.1c97b8","type":"function","z":"35414f73.c188d","name":"","func":"return {\n    payload: 'M'+msg.payload.r+','+msg.payload.g+','+msg.payload.b\n}","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["e66d0b3e.6d45a8"]]},{"id":"854594f1.d90508","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":300,"wires":[]},{"id":"fc017a0a.d79468","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":360,"wires":[]},{"id":"e66d0b3e.6d45a8","type":"mqtt out","z":"35414f73.c188d","name":"","topic":"cubes","qos":"","retain":"","broker":"fe8797cf.df3b68","x":890,"y":420,"wires":[]},{"id":"9dd45f06.83d34","type":"ui_gauge","z":"35414f73.c188d","name":"","group":"5e52a034.f9aff","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#0433ff","#00f900","#ca3838"],"seg1":"15","seg2":"25","x":510,"y":480,"wires":[]},{"id":"8e5cf560.01abb8","type":"ui_chart","z":"35414f73.c188d","name":"","group":"867c5457.0acb38","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":500,"wires":[[]]},{"id":"93b78500.ea95e8","type":"ui_gauge","z":"35414f73.c188d","name":"","group":"5e52a034.f9aff","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff2600","#00f900","#0433ff"],"seg1":"","seg2":"","x":500,"y":540,"wires":[]},{"id":"ac4bcf63.9518","type":"ui_gauge","z":"35414f73.c188d","name":"","group":"5e52a034.f9aff","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"mbar","format":"{{value}}","min":"970","max":"1030","colors":["#0433ff","#00f900","#ca3838"],"seg1":"","seg2":"","x":500,"y":600,"wires":[]},{"id":"7bd15688.de3518","type":"ui_chart","z":"35414f73.c188d","name":"","group":"867c5457.0acb38","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":560,"wires":[[]]},{"id":"d841a41f.de6a98","type":"ui_chart","z":"35414f73.c188d","name":"","group":"867c5457.0acb38","order":3,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":620,"wires":[[]]},{"id":"cccfb5cc.e2ca98","type":"ui_chart","z":"35414f73.c188d","name":"","group":"867c5457.0acb38","order":4,"width":0,"height":0,"label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":680,"wires":[[]]},{"id":"7537c738.877598","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":9,"width":"1","height":"1","passthru":false,"label":"1","tooltip":"Preset 1","color":"","bgcolor":"","icon":"","payload":"[{\"r\":255,\"g\":0,\"b\":0},{\"r\":255,\"g\":0,\"b\":255},{\"r\":0,\"g\":0,\"b\":255},{\"r\":0,\"g\":255,\"b\":255},100,200]","payloadType":"json","topic":"","x":70,"y":120,"wires":[["b4e49b9c.b82158"]]},{"id":"23ee5de4.f1aab2","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":11,"width":"1","height":"1","passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"r\":0,\"g\":0,\"b\":255},{\"r\":80,\"g\":0,\"b\":255},{\"r\":160,\"g\":0,\"b\":255},{\"r\":255,\"g\":0,\"b\":255},255,10]","payloadType":"json","topic":"","x":70,"y":200,"wires":[["b4e49b9c.b82158"]]},{"id":"767e8de.10b0f74","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":10,"width":"1","height":"1","passthru":true,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"r\":255,\"g\":0,\"b\":0},{\"r\":200,\"g\":0,\"b\":50},{\"r\":100,\"g\":0,\"b\":150},{\"r\":0,\"g\":0,\"b\":255},255,10]","payloadType":"json","topic":"","x":70,"y":160,"wires":[["b4e49b9c.b82158"]]},{"id":"17baf6f2.c01c29","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":12,"width":"1","height":"1","passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"r\":0,\"g\":0,\"b\":255},{\"r\":80,\"g\":0,\"b\":255},{\"r\":160,\"g\":0,\"b\":255},{\"r\":255,\"g\":0,\"b\":255},255,10]","payloadType":"json","topic":"","x":70,"y":240,"wires":[["b4e49b9c.b82158"]]},{"id":"fb804713.ff1748","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":13,"width":"1","height":"1","passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"r\":255,\"g\":0,\"b\":0},{\"r\":0,\"g\":255,\"b\":0},{\"r\":0,\"g\":0,\"b\":255},{\"r\":0,\"g\":0,\"b\":255},255,10]","payloadType":"json","topic":"","x":70,"y":280,"wires":[["b4e49b9c.b82158"]]},{"id":"67a91f17.c0088","type":"ui_button","z":"35414f73.c188d","name":"","group":"1f2307d8.233328","order":14,"width":"1","height":"1","passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"r\":255,\"g\":255,\"b\":255},{\"r\":255,\"g\":255,\"b\":255},{\"r\":255,\"g\":255,\"b\":255},{\"r\":255,\"g\":255,\"b\":255},255,10]","payloadType":"json","topic":"","x":70,"y":320,"wires":[["b4e49b9c.b82158"]]},{"id":"b4e49b9c.b82158","type":"function","z":"35414f73.c188d","name":"Dispatch presets","func":"msg = msg.payload.map( entry => {\n        return {\n            payload: entry\n        }\n});\n\nreturn msg;","outputs":7,"noerr":0,"x":330,"y":220,"wires":[["676c65c2.91d49c"],["946ff717.207578"],["390d633d.6e795c"],["1cd2f4cb.7663fb"],["7ed6af76.8282a"],["a18db1f5.a92a5"],["cfb245b8.b70cf8"]],"inputLabels":["Array"],"outputLabels":["Cube 1","Cube 2","Cube 3","Cube 4","Intensity","Speed","Program"]},{"id":"c56b8a6b.e6bd88","type":"debug","z":"35414f73.c188d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":20,"wires":[]},{"id":"37a6f15c.7f52ae","type":"sunrise","z":"35414f73.c188d","name":"","lat":"46.5197","lon":"6.6323","start":"sunriseEnd","end":"sunset","x":130,"y":60,"wires":[["da6b74b7.a6b2d8"],[]]},{"id":"da6b74b7.a6b2d8","type":"debug","z":"35414f73.c188d","name":"Daylight","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":60,"wires":[]},{"id":"1730d693.8ea419","type":"random","z":"35414f73.c188d","name":"","low":"-20","high":"40","inte":"true","property":"payload","x":340,"y":480,"wires":[["9dd45f06.83d34"]]},{"id":"5ae813f6.37116c","type":"inject","z":"35414f73.c188d","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["1730d693.8ea419"]]},{"id":"c95985c0.5c6768","type":"random","z":"35414f73.c188d","name":"","low":"0","high":"100","inte":"true","property":"payload","x":340,"y":540,"wires":[["93b78500.ea95e8"]]},{"id":"a08fb202.60976","type":"inject","z":"35414f73.c188d","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":540,"wires":[["c95985c0.5c6768"]]},{"id":"591e419f.8adb","type":"random","z":"35414f73.c188d","name":"","low":"970","high":"1030","inte":"true","property":"payload","x":340,"y":600,"wires":[["ac4bcf63.9518"]]},{"id":"be43123a.7be5c","type":"inject","z":"35414f73.c188d","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":600,"wires":[["591e419f.8adb"]]},{"id":"119385c1.bc867a","type":"mqtt in","z":"c0d96a0e.935f68","name":"","topic":"+/Beemos/+","qos":"2","datatype":"auto","broker":"fe8797cf.df3b68","nl":false,"rap":false,"inputs":0,"x":110,"y":600,"wires":[["fb3611c7.125dd"]]},{"id":"73c0036e.dcecfc","type":"influxdb in","z":"c0d96a0e.935f68","influxdb":"43f45c0c.1359e4","name":"Last X h","query":"select * from Beemos where time > now() -10m","rawOutput":true,"precision":"","retentionPolicy":"","x":600,"y":600,"wires":[["c34cb2ef.df79a","1524790f.9847c7","2fda5113a009cd89"]]},{"id":"2ce14a9e.3918b6","type":"debug","z":"c0d96a0e.935f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"query","targetType":"msg","statusVal":"query","statusType":"msg","x":650,"y":480,"wires":[]},{"id":"a29ab531.571dd8","type":"ui_chart","z":"c0d96a0e.935f68","name":"Temperature 10m","group":"16363f90.95037","order":2,"width":0,"height":0,"label":"Temperature [°C]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":600,"wires":[[]]},{"id":"c34cb2ef.df79a","type":"function","z":"c0d96a0e.935f68","name":"Temperature 10min","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/temperature$/i)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":600,"wires":[["a29ab531.571dd8"]]},{"id":"1524790f.9847c7","type":"function","z":"c0d96a0e.935f68","name":"Humidity 10min","func":"if (!msg.payload.results || !msg.payload.results.length || !msg.payload.results[0].series) {\n    return null;\n}\n\nvar influx=msg.payload.results[0].series[0];\n\nvar data=[];\nvar series=[];\nfor (var i=1; i<influx.columns.length; i++) {\n    if (influx.columns[i].match(/humidity/i)) {\n        series.push(influx.columns[i]);\n        data.push( \n            influx.values.map(\n                (value) => {return {x:value[0], y:value[i]}}\n            )\n        )\n    }\n}\n\nvar chart={\n    series,\n    data\n};\n\nmsg.payload=[chart];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":660,"wires":[["3caef914.05a156"]]},{"id":"3caef914.05a156","type":"ui_chart","z":"c0d96a0e.935f68","name":"Humidity 10m","group":"16363f90.95037","order":3,"width":0,"height":0,"label":"Humidity [%] ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":660,"wires":[[]]},{"id":"fb3611c7.125dd","type":"throttle","z":"c0d96a0e.935f68","name":"","throttleType":"time","timeLimit":"2","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":260,"y":600,"wires":[["c9f1981.dfa2a68","b403b544.7cd568"]]},{"id":"74fff758.3a4898","type":"link in","z":"c0d96a0e.935f68","name":"","links":["f515dda71d42b21f"],"x":45,"y":480,"wires":[["1a84cb5c.ffbd15","fb3611c7.125dd"]]},{"id":"b816a870.05fb58","type":"debug","z":"c0d96a0e.935f68","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"c9f1981.dfa2a68","type":"function","z":"c0d96a0e.935f68","name":"Last X h","func":"const device=global.get('beehiveSelected');\nif (! device) return null;\n\nconst timeSpan = flow.get('query.timeSpan');\nlet db = `Beemos`;\n\n// adding time aggregate feature\nif (['1d'].includes(timeSpan)) {\n    db = `Beemos_hourly`;\n} else if (['7d', '28d', '140d'].includes(timeSpan)) {\n    db = `Beemos_daily`;\n}\n\nmsg.query=`select * from ${db} where time > now() -${timeSpan} and \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":600,"wires":[["73c0036e.dcecfc","2ce14a9e.3918b6"]]},{"id":"1a84cb5c.ffbd15","type":"ui_text","z":"c0d96a0e.935f68","group":"a92aa141.42695","order":3,"width":0,"height":0,"name":"","label":"Selected device","format":"{{msg.payload}}","layout":"row-spread","x":220,"y":480,"wires":[]},{"id":"b403b544.7cd568","type":"function","z":"c0d96a0e.935f68","name":"Last","func":"const device=global.get('beehiveSelected');\n\nif (! device) return null;\n\nmsg.device=device;\nmsg.query=`select last(*) from Beemos where \"name\"='${device}'`;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":420,"wires":[["a5ca0e16.f484b"]]},{"id":"a5ca0e16.f484b","type":"influxdb in","z":"c0d96a0e.935f68","influxdb":"43f45c0c.1359e4","name":"Last","query":"","rawOutput":false,"precision":"s","retentionPolicy":"","x":530,"y":380,"wires":[["26cc5e6e.e50f82","b816a870.05fb58","fb5c454b.789a88","31ae3b82.ba1c04","4f7b3be8.15d194","d4899991c0181d20"]]},{"id":"26cc5e6e.e50f82","type":"ui_gauge","z":"c0d96a0e.935f68","name":"External temperature","group":"933b97fb.f6b048","order":4,"width":0,"height":0,"gtype":"gage","title":"External temperature","label":"°C","format":"{{msg.payload[0].last_externalTemperature}}","min":"-20","max":"30","colors":["#261cba","#cfeb00","#cb3a3a"],"seg1":"0","seg2":"20","x":800,"y":220,"wires":[]},{"id":"fb5c454b.789a88","type":"ui_gauge","z":"c0d96a0e.935f68","name":"External humidity","group":"933b97fb.f6b048","order":4,"width":0,"height":0,"gtype":"gage","title":"External humidity","label":"%","format":"{{msg.payload[0].last_externalHumidity}}","min":"0","max":"100","colors":["#ba1c1c","#00eb04","#3a3ecb"],"seg1":"30","seg2":"70","x":790,"y":260,"wires":[]},{"id":"31ae3b82.ba1c04","type":"ui_gauge","z":"c0d96a0e.935f68","name":"Internal temperature","group":"78c96afa.759214","order":4,"width":0,"height":0,"gtype":"gage","title":"Internal temperature","label":"°C","format":"{{msg.payload[0].last_internalTemperature}}","min":"-20","max":"30","colors":["#261cba","#cfeb00","#cb3a3a"],"seg1":"0","seg2":"20","x":800,"y":300,"wires":[]},{"id":"4f7b3be8.15d194","type":"ui_gauge","z":"c0d96a0e.935f68","name":"Internal humidity","group":"78c96afa.759214","order":4,"width":0,"height":0,"gtype":"gage","title":"Internal humidity","label":"%","format":"{{msg.payload[0].last_internalHumidity}}","min":"0","max":"100","colors":["#ba1c1c","#00eb04","#3a3ecb"],"seg1":"30","seg2":"70","x":790,"y":340,"wires":[]},{"id":"3dff854278e5f973","type":"trigger","z":"c0d96a0e.935f68","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":320,"wires":[["b403b544.7cd568"]]},{"id":"d4899991c0181d20","type":"ui_template","z":"c0d96a0e.935f68","group":"a92aa141.42695","name":"","order":4,"width":"6","height":"6","format":"<div>\n<table>\n    <tr>\n        <th align='left'>External temperature</th>\n        <td>{{msg.payload[0].last_externalTemperature.toFixed(2)}} °C</td>\n    </tr>\n     <tr>\n        <th align='left'>External humidity</th>\n        <td>{{msg.payload[0].last_externalHumidify.toFixed(2)}} %</td>\n    </tr>\n    <tr>\n        <th align='left'>Internal temperature</th>\n        <td>{{msg.payload[0].last_internalTemperature.toFixed(2)}} °C</td>\n    </tr>\n    <tr>\n        <th align='left'>Internal humidity</th>\n        <td>{{msg.payload[0].last_internalHumidity.toFixed(2)}} %</td>\n    </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":140,"wires":[[]]},{"id":"b361fcec71e0e91f","type":"ui_dropdown","z":"c0d96a0e.935f68","name":"","label":"Time scale","tooltip":"","place":"Select option","group":"16363f90.95037","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"1 hour","value":"1h","type":"str"},{"label":"10 hours","value":"10h","type":"str"},{"label":"1 day","value":"1d","type":"str"},{"label":"1 week","value":"7d","type":"str"},{"label":"4 weeks","value":"28d","type":"str"},{"label":"10 weeks","value":"140d","type":"str"}],"payload":"","topic":"","x":110,"y":700,"wires":[["149d7c34b0baa023"]]},{"id":"149d7c34b0baa023","type":"change","z":"c0d96a0e.935f68","name":"timespan","rules":[{"t":"set","p":"query.timeSpan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":700,"wires":[["c9f1981.dfa2a68"]]},{"id":"2fda5113a009cd89","type":"debug","z":"c0d96a0e.935f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]}]